<?xml version="1.0"?>
<robot name="rov_description" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find rov_description)/urdf/truster.xacro"/>
  <xacro:include filename="$(find rov_description)/urdf/camera.xacro"/>

    <link name="base_link"/>

    <link name="chassis">
        <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
            <mesh filename="package://rov_description/meshes/rov_2.stl" />
        </geometry>
        </visual>
        <collision>
        <origin xyz="0 0 0.0" rpy="0 0 0" />
        <geometry>
            <mesh filename="package://rov_description/meshes/rov_2.stl" />
        </geometry>
        </collision>
        <inertial>
        <origin xyz="0 0 0" rpy="0.3 0 0"/>
        <mass value="4.8"/>
        <inertia ixx="0.12508907"  ixy="-0.00010876"  ixz="-0.00018732" iyy="0.06187282" iyz="0.00436993" izz="0.0738469" />
        </inertial>
    </link>

    <joint name="base_link_to_chassis" type="fixed">
        <parent link="base_link"/>
        <child link="chassis"/>
        <origin xyz="0.0 0.0 0.164" rpy="0 0 0" />
    </joint>

    <joint name="chassis_to_truster_vertical_01" type="fixed">
        <parent link="chassis"/>
        <child link="truster_vertical_01"/>
        <origin xyz="0.0 0.298 -0.125" rpy="1.5704 0 -1.5704" />
    </joint>

    <joint name="chassis_to_truster_vertical_02" type="fixed">
        <parent link="chassis"/>
        <child link="truster_vertical_02"/>
        <origin xyz="0.0 -0.301 -0.125" rpy="1.5704 0 1.5704" />
    </joint>

    <joint name="chassis_to_truster_horiz_01" type="fixed">
        <parent link="chassis"/>
        <child link="truster_horiz_01"/>
        <origin xyz="-0.117 0.0 -0.126" rpy="0 3.1416 3.1416" />
    </joint>

    <joint name="chassis_to_truster_horiz_02" type="fixed">
        <parent link="chassis"/>
        <child link="truster_horiz_02"/>
        <origin xyz="0.117 0.0 -0.126" rpy="0 0 3.1416" />
    </joint>
    
    <joint name="chassis_to_truster_horiz_03" type="fixed">
        <parent link="chassis"/>
        <child link="truster_horiz_03"/>
        <origin xyz="0.0 0.171 -0.07" rpy="0 1.5704 1.5704" />
    </joint>

    <joint name="chassis_to_truster_horiz_04" type="fixed">
        <parent link="chassis"/>
        <child link="truster_horiz_04"/>
        <origin xyz="0.0 -0.171 -0.07" rpy="0 1.5704 -1.5704" />
    </joint>


    <joint name="chassis_to_camera" type="fixed">
        <parent link="chassis"/>
        <child link="camera"/>
        <origin xyz="0.0 -0.17 0.188" rpy="0 0 0" />
    </joint>


</robot>